<%- include('../partials/header'); %>

<div class="container mt-5 col-lg-4 col-offset-6">


    <h1><%= pageTitle %></h1>
    <form method="POST" action="/user/login">
        <!-- Email -->
        <div class="form-group">
            <input type="email" class="form-control input-sm" name="email" id="email" placeholder="Email address">
        </div>

        <!-- Password -->
        <div class="form-group">
            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
        </div>

        <button type="submit" class="btn btn-primary btn-block">Login</button>
    </form>


</div>

<%- include('../partials/footer'); %>